<h1>Let's play Rock, Paper, Scissors!</h1>

<form action="/result">
  <div class="form-group">
    <label for="move_one">Type in rock, paper, or scissors</label>
    <input id="move_one" name="move_one" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="move_two">Now for the opponent choose rock, paper, or scissors</label>
    <input id="move_two" name="move_two" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Shoot</button>
</form>
